<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330293988254-gfocd18j16kdnsvqhp1fk61ggr6ovp42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330293988254-gfocd18j16kdnsvqhp1fk61ggr6ovp42</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>330293988254-oipcq87lmch78m131nauh2b6c2fb0875.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAie3hehD-yr_4tOGx0u94JjZL-i16-ROA</string>
	<key>GCM_SENDER_ID</key>
	<string>330293988254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wallet.dz.walletdz</string>
	<key>PROJECT_ID</key>
	<string>walletdz-d12e0</string>
	<key>STORAGE_BUCKET</key>
	<string>walletdz-d12e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330293988254:ios:3b61d1760f7e272e41648f</string>
	<key>DATABASE_URL</key>
	<string>https://walletdz-d12e0-default-rtdb.firebaseio.com</string>
</dict>
</plist>